body {
  margin: 0;
  background: rgba(30,30,30,0.7);
  backdrop-filter: blur(12px);
  font-family: Arial;
}

#container {
  padding: 14px;
  color: white;
}

textarea {
  width: 100%;
  height: 120px;
  margin-top: 5px;
  background: rgba(255,255,255,0.1);
  border: none;
  color: white;
  padding: 10px;
  border-radius: 6px;
}

button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background: #0078ff;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}
